@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@media screen and (max-width: 780px) {
  .CanvasContainer {
    width: 90%; /* Shrink the width of the container */
  }
  
  .CanvasContainer Canvas {
    width: 70%; /* Shrink the width of the canvas */
    height: auto; /* Adjust the height accordingly */
  }
  
  .CanvasContainer mesh {
    transform: scale(0.5, 2.5, 0.5); 
  }
}

@media screen and (min-width: 781px) {
  .CanvasContainer {
    width: 100%; /* Shrink the width of the container */
  }
  
  .CanvasContainer Canvas {
    width: 1000%; /* Shrink the width of the canvas */
    height: auto; /* Adjust the height accordingly */
  }
  
  .CanvasContainer mesh {
    transform: scale(0.5, 2.5, 0.5); 
  }
}

.container {
  
  left: 0px;
  width: 100vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 1;
}

.CanvasContainer {
  position: fixed;
  top: 0px;
  height: 200vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  
}




.scrollY {
  position: fixed;
  top: 0px;
  left: 10px;
  background-color: aqua;
}

